#goToPath {
    width: 750px;
}
#goToUuid {
    width: 270px;
}
pre, code {
    font-size: 120%;
}
img {border: 0}
.default fieldset {
    border-color: #B40000;
    border-style: solid;

}
.live fieldset {
    border-color: #006900;
    border-style: solid;

}
.default fieldset legend {
    color: #B40000;
}
.live fieldset legend {
    color: #006900;
}
fieldset legend a{
    color: #000;
}
fieldset legend strong {
    text-transform: uppercase;
}
fieldset legend strong span {
    text-transform: none;
}

body.hasDataTable,
body {
    color: #293136;
    font-family: sans-serif;
    font-size: 14px;
    margin: 24px;
}

fieldset {
    margin: 0;
    border: 1px solid #cfcfcf;
}

hgroup p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

fieldset li {
    margin-bottom: 0.5rem;
}

legend {
    font-weight: bold;
}

main p {
    margin-bottom: 1rem;
}

a:has(.material-symbols-outlined) {
    display: inline-flex;
    height: min-content;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    color: inherit;
    padding: 2px;

    &:hover {
        border-bottom: 1px solid currentColor;
    }
}

.page-header, .page-footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    ul {
        margin: 0;
    }

    h1 {
        margin-top: 0;
        margin-bottom: 4px;
    }

    > * {
        width: 100%;
    }
}

.page-header {
    margin-bottom: 32px;
    gap: 8px;
}

.page-footer {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid #cfcfcf;
}

.page-header_top {
    display: flex;
    align-items: top;
    gap: 16px;

    hgroup {
        width: 100%;
    }
}

.page-header ul, .page-footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.page-header ul.list {
    padding-left: 30px;
    list-style: disc;
    display: block;
}

.page-header_bar, .page-footer_bar {
    display: flex;
    justify-content: space-between;
    color: #7E8386;
}

.page-header_bar h1 {
    color: #293136;
    margin-bottom: 0;
}

.page-header_toolbar a {
    color: #0072B1;
}

.material-symbols-outlined {
    font-size: 1rem;
    margin-right: 2px;
}


/* DataTable overrides */
.hasDataTable h1 {
    font-size: revert;
    font-weight: revert;
    color: inherit;
    line-height: inherit;
    font-family: inherit;
}

/* Specific for index.jsp */
body.home td:nth-child(even) fieldset {
    margin: 12px 0 12px 12px;
}

body.home td:nth-child(odd) fieldset {
    margin: 12px 12px 12px 0;
}

.strikethrough {
    text-decoration: line-through;
}
