body {
    color:#36393D;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 80%;
    line-height:160%;
}
#goToPath {
    width: 750px;
}
#goToUuid {
    width: 270px;
}
pre, code {
    font-size: 120%;
}
img {border: 0}
.default fieldset {
    border-color: #B40000;
    border-style: solid;

}
.live fieldset {
    border-color: #006900;
    border-style: solid;

}
.default fieldset legend {
    color: #B40000;
}
.live fieldset legend {
    color: #006900;
}
fieldset legend a{
    color: #000;
}
fieldset legend strong {
    text-transform: uppercase;
}
fieldset legend strong span {
    text-transform: none;
}

