#goToPath {
    width: 750px;
}
#goToUuid {
    width: 270px;
}
pre, code {
    font-size: 120%;
}
img {border: 0}
.default fieldset {
    border-color: #B40000;
    border-style: solid;

}
.live fieldset {
    border-color: #006900;
    border-style: solid;

}
.default fieldset legend {
    color: #B40000;
}
.live fieldset legend {
    color: #006900;
}
fieldset legend a{
    color: #000;
}
fieldset legend strong {
    text-transform: uppercase;
}
fieldset legend strong span {
    text-transform: none;
}

body {
    color: #293136;
    font-family: sans-serif;
    font-size: 14px;
}

main p {
    margin-bottom: 1rem;
}

a:has(.material-symbols-outlined) {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    line-height: 1;
    color: inherit;
    padding: 2px;

    &:hover {
        border-bottom: 1px solid currentColor;
    }
}

.page-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    /* gap: 8px; */

    h1 {
        margin-bottom: 4px;
    }

    > * {
        width: 100%;
    }
}

.page-header_top {
    display: flex;
    align-items: top;
    gap: 16px;

    hgroup {
        width: 100%;
    }
}

.page-header ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

.page-header_topbar {
    display: flex;
    justify-content: space-between;
    color: #7E8386;
}

.page-header_toolbar a {
    color: #0072B1;
}

.material-symbols-outlined {
    font-size: 1rem;
    margin-right: 2px;
}
