JAHIA_VERSION=${JAHIA_VERSION:-LATEST}
JAHIA_IMAGE=${JAHIA_IMAGE:-jahia/jahia-ee-dev:8-SNAPSHOT}
TESTS_IMAGE=${TESTS_IMAGE:-jahia/tools:latest}
MODULE_ID=${MODULE_ID:-tools}
MANIFEST=${MANIFEST:-provisioning-manifest-snapshot.yml}
JAHIA_URL=${JAHIA_URL:-http://localhost:8080}
JAHIA_HOST=${JAHIA_HOST:-jahia}
OPERATING_MODE=${OPERATING_MODE:-development}
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
JAHIA_PORT_KARAF=${JAHIA_PORT_KARAF:-8101}
JAHIA_USERNAME=${JAHIA_USERNAME:-root}
JAHIA_PASSWORD=${JAHIA_PASSWORD:-root1234}
JAHIA_USERNAME_TOOLS=${JAHIA_USERNAME_TOOLS:-root}
JAHIA_PASSWORD_TOOLS=${JAHIA_PASSWORD_TOOLS:-root1234}
NEXUS_USERNAME=${NEXUS_USERNAME:-NEXUS_USERNAME}
NEXUS_PASSWORD=${NEXUS_PASSWORD:-NEXUS_PASSWORD}
DOCKER_CONTAINER_NAME=${DOCKER_CONTAINER_NAME:-jahia}
