name: Nightly - Jahia Snapshot

on:
  workflow_dispatch:
  schedule:
   - cron: "0 5 * * *"

jobs:
  integration-tests:
    name: Integration Tests
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: tools
      jahia_image: ghcr.io/jahia/jahia-ee-dev:8-SNAPSHOT
      provisioning_manifest: provisioning-manifest-snapshot.yml
      artifact_prefix: toolse
      timeout_job: 30
      timeout_step: 20
      should_use_build_artifacts: true