name: Nightly - Jahia Release

on:
  workflow_dispatch:
  schedule:
   - cron: "0 5 * * *"

jobs:
  integration-tests:
    name: Integration Tests
    secrets: inherit
    uses: Jahia/jahia-modules-action/.github/workflows/reusable-integration-tests.yml@v2
    with:
      module_id: tools
      jahia_image: jahia/jahia-ee:8
      provisioning_manifest: provisioning-manifest-snapshot.yml
      artifact_prefix: toolse
      timeout_job: 30
      timeout_step: 20
      should_use_build_artifacts: true
      testrail_project: Tools